extends layout

block content
  h1= title
  p If you are interested in seeing code from some of our presentations, please go to our 
    a(href='https://github.com/jaxnode/') GitHub page.
  each repo in repos
    -if (repo.name && repo.name.length > 0 && repo.html_url.length > 0)
      div.panel.panel-primary
        div.panel-heading
          h3= repo.name
        div.panel.panel-body
          a(href=repo.html_url)= repo.html_url
          br 
          br
          = repo.description
          You can install the following repo by typing the following command in your terminal
          br
          br
          blockquote
            p git clone #{repo.clone_url} 
          p 
            strong Default Branch: 
            = repo.default_branch 
            | &nbsp;
            strong Language: 
            = repo.language
