{{!< LAYOUT}}
  <h1>{{title}}</h1>
  <p>
      If you are interested in coming to our meetings or contacting our organizers, 
      please go to our <a href='http://meetup.com/Jax-Node-js-UG/'>Meetup page.</a>
  </p> 