{{!< LAYOUT}}
  <h1>{{title}}</h1>
  <p>
      If you are interested in coming to our meetings or contacting our organizers, 
      please go to our <a href='http://meetup.com/Jax-Node-js-UG/'>Meetup page.</a>
  </p> 
  <p>
      You can also follow us on Twitter and GitHub!
  </p>
  <a href="https://twitter.com/jaxnode" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jaxnode</a>
  
  <a class="github-button" href="https://github.com/jaxnode" data-style="mega" data-count-href="/jaxnode/followers" data-count-api="/users/jaxnode#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @jaxnode on GitHub">Follow @jaxnode</a>
  
{{#contentFor "pageScripts"}}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{{/contentFor}}