extends layout

block content
  .jumbotron
    img(src='images/jaxnode.png', class='img-responsive', alt='Jax Node Logo')
    h1= title
    p Welcome to the #{title}
    p The Jax Node.js User Group is for anyone interested in learning more about Node.js. Node allows us to write javascript on the server that is highly scalable and fast. Node.js is based on the V8 javascript engine in the Chrome browser.
    a(class='btn btn-primary', href='http://www.meetup.com/Jax-Node-js-UG') Join our Meetup
    p Our first meeting will be October 16th at CoWork Jax.
    a(class='mu-rsvp-btn', href='http://www.meetup.com/Jax-Node-js-UG/events/141123342/', data-event='141123342') RSVP
    br
    iframe(width='425', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps?sll=30.3453462529106,-81.68310690000001&sspn=0.8347007523601676,1.610005215950906&t=m&q=CoWork+Jax&dg=opt&ie=UTF8&hq=CoWork+Jax&hnear=&z=16&iwloc=A&output=embed')
    br
      small
      a(href='https://www.google.com/maps?sll=30.3453462529106,-81.68310690000001&sspn=0.8347007523601676,1.610005215950906&t=m&q=CoWork+Jax&dg=opt&ie=UTF8&hq=CoWork+Jax&hnear=&z=16&iwloc=A&source=embed', style='color: #0000FF; text-align: left;') View Larger Map

block append scripts
    script(src='/js/rsvp.js')