extends layout

block content
  .jumbotron
    img(src='images/jaxnode.png', alt='Jax Node Logo')
    h1= title
    p Welcome to the #{title}
    p The Jax Node.js User Group is for anyone interested in learning more about Node.js. Node allows us to write javascript on the server that is highly scalable and fast. Node.js is based on the V8 javascript engine in the Chrome browser.