!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		title= title
		//Bootstrap core CSS 
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/fixedtopspace.css', rel='stylesheet')
		//Custom styles for this template 
		//HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
		//if lt IE 9
			script(src='../../assets/js/html5shiv.js')
			script(src='../../assets/js/respond.min.js')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') JaxNode
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=title=='Jax Node User Group'?'active':undefined)
							a(href='/') Home
						li(class=title=='Contact the Jax Node User Group'?'active':undefined)
							a(href='/contact') Contact
		.container
			block content
		footer.bs-footer
			.container
				p Copyright 2013, Jax Node User Group
	script(src='js/jquery.min.js')
	script(src='js/bootstrap.min.js')
	block scripts
