extends layout

block content
  h1= title
  p We are looking for Sponsors. Please contact David Fekke at gmail dot com if you would like help sponsor meetings.
  P We would like to thank our current sponsors.
  P
    a(href='http://www.coworkjax.com/') CoWork Jax
    &nbsp;for hosting our first meeting.
  p: a(href='http://jaxtechmeetups.com',alt='Jax Tech Meetups',target='_blank') Jax Tech Meetups
  p 
    a(href='http://payspan.com',alt='Jax Tech Meetups',target='_blank'): img(src='images/payspanlogo.jpg',alt='Payspan')
  p
    a(href='http://pluralsight.com',alt='pluralsight online training',target='_blank'): img(src='images/pluralsight-fullcolor-175x39-v1.png',alt='pluralsight')
  p
    a(href='http://tessel.io',alt='Tessel',target='_blank'): img(src='images/tessel-logo-horizontal.png',alt='Tessel')