extends layout

block content
  h1= title
  p We are looking for Sponsors. Please contact David Fekke at gmail dot com if you would like help sponsor meetings.
  P We also would like to thank 
    a(href='http://www.coworkjax.com/') CoWork Jax
    &nbsp;for hosting our meeting.