{{!< LAYOUT}}
  <h1>{{title}}</h1>
  <p>We are looking for Sponsors. Please contact David Fekke at gmail dot com if you would like help sponsor meetings.</p>
  <P>We would like to thank our current sponsors.</P>
  <P><a href="https://getpebble.com" alt="Pebble, #MakeAwesomeHappen" target="_blank">
  <img src="images/pebble-logo.png" alt="Pebble Logo"></a></P>
  <P><a href="http://www.coworkjax.com/">CoWork Jax &nbsp;for hosting our first meeting.</a></P>
  <p><a href="http://irtalent.com" alt="Interactive Resources" target="_blank"><img src="images/interactiveresources.png" alt="Interactive Resources"></a></p>
  <p>We would like to thank Interactive Resources for Pizza!</p>
  <p><a href="http://jaxtechmeetups.com" alt="Jax Tech Meetups" target="_blank">Jax Tech Meetups</a></p>
  <p> <a href="http://availity.com" alt="Availity" target="_blank"><img src="images/availity_logo.png" alt="Availity"></a></p>
  <p><a href="http://pluralsight.com" alt="pluralsight online training" target="_blank"><img src="images/pluralsight-fullcolor-175x39-v1.png" alt="pluralsight"></a></p>
  <p><a href="http://electricimp.com" alt="Tessel" target="_blank"><img src="images/implogodark.png" alt="Electric Imp"></a></p>
  <p><a href="http://tessel.io" alt="Tessel" target="_blank"><img src="images/tessel-logo-horizontal.png" alt="Tessel"></a></p>