{{!< LAYOUT}}
<h1>JaxNode User Group</h1>
<p>We are currently upgrading to the newer Meetup API. In the mean time you can view our upcoming meetups at <a href="https://meetup.com/Jax-Node-js-UG">meetup.com</a></p>